JWT_SECRET=Himanshu
CLIENT_URL=http://localhost:3000,http://localhost:3001,http://localhost:3002
NEXT_PUBLIC_API_URL=http://localhost:5000/api
EMAIL_USER=hporiya06@gmail.com
EMAIL_PASSWORD=uxoyfhxaifivnvzp

CLOUDINARY_CLOUD_NAME=dzygxarda
CLOUDINARY_API_KEY=677476183932668
CLOUDINARY_API_SECRET=U_ADNWef_iwfMDaTiN8q8CYre5c